:root {
    --poli-dark-purple: #1b0459;
    --poli-purple: #29185a;
    --poli-light-purple: #392E8C;
    --poli-light-light-purple: rgb(89, 74, 197);
    --poli-light-light-light-purple: rgb(184, 175, 253);
    --poli-dark-yellow: #FBB80F;
    --poli-deep-orange: #FF5722;
    --poli-shadow: #00000085;
    --poli-black: #000000;
    --poli-white: #fff;
    --poli-gray: rgb(201, 201, 201);
    --poli-dark-gray: rgb(100, 100, 100);
}

body {
    font-family: 'JetBrains Mono';
    background-color: var(--poli-dark-purple);
    margin: 0;
    padding: 0;
}
body > div {
    min-height: 100vh;
    width: 100%;
    background-color: var(--poli-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body > div * {
    margin: 1em 0;
}

.polip_button {
    padding: 0.75em 1.25em;
    border-radius: 12px;
    background-color: var(--poli-purple);
    color: var(--poli-white);
    border: none;
    transition: 0.05s;
}
.polip_button:hover {
    scale: 1.05;
    background-color: var(--poli-light-purple);
}

.polip_txt {
    border-radius: 14px;
    padding: 1em 1.5em;
    border: 3px solid var(--poli-purple);
    background-color: var(--poli-light-light-purple);
    font-size: 1rem;
    color: var(--poli-white);
    -webkit-transition : border 0.1s ease-out;
    -moz-transition : border 0.1s ease-out;
    -o-transition : border 0.1s ease-out;
    transition : border 0.1s ease-out;
}
.polip_txt:focus {
    border: 3px solid var(--poli-gray) !important;
}
::placeholder {
    color: var(--poli-gray);
    opacity: 1;
}
textarea:focus, input:focus{
    outline: none !important;
}

.input-forms {
    min-width: 15em;
    z-index: 2;
}
.input-icons {
    width: 100%;
    position: relative;
}
.input-icons i {
    position: absolute;
    right: 5%;
    top: 27.5%;
    color: var(--poli-gray);
}
.input-icons input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
}
.polip_datalist {
    width: 100%;
    margin: 0;
    background-color: var(--poli-purple);
    position: absolute;
    border-radius: 0 0 14px 14px;
    border-top: none;
    padding: 20px 0 0 0;
    top: 75%;
    z-index: -1;
    overflow-y: scroll;
    overflow-x: hidden;
}  
.polip_datalist option {
    margin: 0;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    padding: 1em 0.5em;
    color: var(--poli-white);
    font-size: 0.85em;
    cursor: pointer;
}
.polip_datalist option:hover, .active{
    background-color: var(--poli-light-purple) !important;
}  

.poli_back {
    padding: 0.5em;
    border: solid var(--poli-dark-yellow) 0.25em;
    border-radius: 100%;
    color: var(--poli-dark-yellow);
}

.poli_card {
    border: solid var(--poli-light-purple) 0.25em;
    padding: 1em;
    border-radius: 14px;
    background-color: var(--poli-light-light-light-purple);
    width: 200px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.poli_card > i.fa-camera {
    font-size: 2.5em;
}

.poli_card .poli_card_icons {
    font-size: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
}
.poli_card .poli_card_icons i {
    margin: 0;
}
.poli_card .poli_card_text {
    align-self: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    flex-grow: 1;
}

.upper_btns {
    float: left;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1em;
    box-sizing: border-box;
}

.fill {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc_profile {
    align-items: baseline;
    text-align: left;
    color: var(--poli-gray);
    margin: 0;
    padding: 0;
}
.profile_img {
    width: 100%;
    flex-grow: 1;
    height: 100%;
    margin: 0;
    object-fit: cover;
}

.back_icon {
    margin-right: 11px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: end;
    width: 100%;
}

.person_img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    object-fit: cover;
}

.list_profile {
    list-style-type: none;
    padding: 0;
}

.info_profile {
    margin: 10px;
    color: var(--poli-gray);
    display: inline;
}

a {
    margin: 0 !important;
}